<html>
    <head>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body>
        <h1>Microfrontend 1 Test Page</h1>
        <div id="root"></div>

        <%= htmlWebpackPlugin.tags.bodyTags %>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const host = document.getElementById('root');
                window.startBrowserStandaloneSharedLibrariesMicrofrontend1(host, {
                    config: {
                        welcomeMessage: 'Hello World!',
                    },
                    messageBus: {
                        subscribe: () => {},
                        unsubscribe: () => {},
                        publish: () => {
                            alert('ping');
                        },
                    }
                });
            });
        </script>
    </body>
</html>
